@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  max-width: 100%;
}

.slider {
  max-width: 1100px;
  display: none;
}
.slider .col {
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .col .card {
  height: 200px;
  width: 100%;
}

.home_video {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.homepage {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.contact_navbar_btn {
  color: #00ffeb;
  background-color: #1769ff;
  border: none;
  border-radius: 3px;
  opacity: 1;
  padding-left: 20px;
}

.main-logo {
  height: 2.5vh;
}

.navbar-toggler {
  color: white !important;
  background: none;
  border: none;
}

.nav_home {
  color: #00ffeb !important;
}

.navbar {
  background: white;
}

.nav_gray {
  color: #acb8c1;
}

.navbar-toggler {
  color: red;
  font-weight: bold;
  font-size: x-large;
}

.nav-item :hover {
  color: #00ffeb;
}

.home_card {
  background-color: none;
  height: 300px;
  filter: brightness(100%) !important;
  width: 75%;
  text-align: center;
}
.home_card .home_title {
  color: #1769ff;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}
.home_card .home_text {
  color: white;
  width: 60%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.home_card .hire_btn {
  color: #00ffeb;
  font-family: "Poppins", sans-serif;
  background-color: #1769ff;
  border: none;
  height: 7vh;
  width: 150px;
  font-weight: bold;
}
.home_card .get_hired_btn {
  color: white;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ffffff;
  height: 7vh;
  width: 150px;
  font-weight: bold;
}
.home_card .get_hired_btn:hover {
  background-color: #00ffeb;
  color: black;
  transition: 0.2s ease-in-out;
}

.our_numbers {
  background: #1b27af;
  width: auto;
  height: auto;
  margin: 4rem;
}

.our_numbers_title {
  color: #00ffeb;
  padding-top: 4.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.our_numbers_text {
  color: white;
  font-family: "Poppins", sans-serif;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.select-div .select-component {
  height: 7vh;
  background: none;
  border: 1px solid white;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.numbers_statistics {
  margin-top: 4rem;
}

.numbers_stats {
  margin: 3rem;
  font-family: "Poppins", sans-serif;
  padding-bottom: 6rem;
}
.numbers_stats .numbers {
  color: #00ffeb;
  font-weight: 200;
  font-size: 40px;
}
.numbers_stats .numbers_title {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.numbers_stats .numbers_text {
  color: #d7d7e2;
  width: 90%;
  margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #1769ff;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #1769ff;
}

.about_us {
  font-family: "Poppins", sans-serif;
  background: #f6f6ff;
  padding: 6rem;
}
.about_us .row_about_us {
  padding-top: 6rem;
}
.about_us .about_us_title {
  color: #1769ff;
  font-size: 24px;
  text-align: left;
  margin-left: 5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.about_us .twitter_icon {
  color: #1769ff;
  font-size: 1px;
  height: 28px;
  width: 28px;
}
.about_us .carousel_about_name {
  font-weight: bold;
  font-size: 16px;
}
.about_us .carousel_about_email {
  font-weight: bold;
  color: #1769ff;
  font-size: 16px;
}
.about_us .youtube_video {
  width: 100%;
  height: 300px;
}

.location {
  width: 100%;
}

.footer {
  height: 300px;
  background-color: #1b27af;
}

.footer {
  padding: 6rem;
  padding-right: 6rem;
  height: auto;
}
.footer .row {
  max-width: 80%;
}

.footer_title {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.footer_location,
.footer_street_nbr,
.footer_contacts_email,
.footer_contacts_phone_nbr {
  color: #ececec;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.social_icon {
  color: white;
  background-color: #1769ff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 5px;
  margin: 0%;
  align-self: flex-start;
}

.contact_form_title {
  color: #1769ff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.form_input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: none;
  padding: 0%;
  font-size: 14px;
}

.footer_form {
  position: absolute;
  background-color: white;
  width: 25%;
  height: auto;
  margin-top: -400px;
  right: 0;
  margin-right: 4rem;
  margin-bottom: 2rem;
}
.footer_form .form-group {
  padding: 5%;
  margin: 0%;
}

.form_btn {
  float: right;
  background-color: #1769ff;
  padding: 10px;
  border: none;
  color: white;
  margin: 2rem;
  margin-bottom: 4rem;
}

.companies {
  background-color: #f6f6ff;
  padding: 6rem;
}
.companies .row .col img {
  width: 200px;
  height: 170px;
}

.partners {
  overflow: hidden;
  padding: 4rem;
}
.partners .row {
  width: 1670px;
  overflow: hidden;
}

.col {
  padding-right: -10px;
  padding-left: -10px;
}

.partners_name {
  color: #00ffeb;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.partners_company {
  color: #707070;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: normal;
}

.partners_text {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.next_btn {
  height: 5vh;
  background-color: #1769ff;
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 6px;
  position: absolute;
  right: 0;
  margin-right: 4rem;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.next_icon {
  height: 24px;
  width: 24px;
  font-weight: bold;
}

.read_more_btn {
  color: black;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.carousel-item {
  padding-left: 15%;
  padding-right: 15%;
}

.images_slider .flickity-prev-next-button {
  display: none;
}

.about_container {
  width: 60%;
  margin: auto;
  font-weight: normal;
  line-height: 2em;
  font-size: 14px;
  padding-bottom: 10%;
}

.home_btns {
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: center;
}

.about_title {
  color: #1b27af;
  font-size: 34px;
  padding: 5%;
  text-align: left;
  font-weight: bold;
}

.about_txt {
  font-size: 24px;
  font-weight: normal;
  font-weight: bold;
  text-align: left;
}

.know_more {
  margin-left: auto;
  margin-right: auto;
}

.know_more_btn {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #1b27af;
  color: white;
  border: none;
  padding: 10px;
  margin: 5%;
  width: 25vh;
}

.why_us_title {
  color: #1b27af;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

.why_us_container {
  margin: 4rem;
}

.card-img-top {
  height: 40vh;
}

.why_us_txt {
  color: white;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 15%;
  font-weight: normal;
  font-size: 13px;
}

.why_us_footer {
  width: 100%;
  height: 10vh;
  margin-top: auto;
  margin-left: 0;
}
.why_us_footer .col-4 :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #707070;
  background: #acb8c1 0% 0% no-repeat padding-box;
  opacity: 0.62;
}
.why_us_footer .col-4 span svg {
  margin: 15px;
  font-size: 30px;
  color: white !important;
}
.why_us_footer .col-8 {
  background: #090c2d 0% 0% no-repeat padding-box;
  opacity: 0.64;
}

.why_us_cards {
  margin-top: 5%;
}
.why_us_cards .col .card1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.31), #0000005c), url("../../assets/images/partners-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.why_us_cards .col .card2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.31), #0000005c), url("../../assets/images/partners-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.why_us_cards .col .card3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.31), #0000005c), url("../../assets/images/partners-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.data {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #262d75), url("../../assets/images/home_img.png");
  background-size: 100%, 100%;
  height: 60vh;
}
.data .row {
  margin: 6rem;
}
.data .row .col {
  width: 400px;
  height: 200px;
  border: 0.2px solid #f8f8f8;
  margin-top: 7.5%;
  margin-right: 7.5%;
  padding-top: 35px;
}
.data .row .col .years_of_experince,
.data .row .col .awards_nbr,
.data .row .col .happy_customers {
  color: #00ffeb;
  text-align: center;
}
.data .row .col .experience_txt,
.data .row .col .happy_customers_txt,
.data .row .col .awards_txt {
  color: white;
  text-align: center;
  font-size: 14px;
}

.carousel {
  z-index: 100;
  height: auto;
}

.carousel-cell {
  width: 40%;
  height: 500px;
  margin-right: 5%;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell img {
  height: 60vh;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  border-radius: 0%;
  background: #1769ff;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button .arrow {
  fill: #00ffeb;
}