@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

.homepage {
  max-width: 100%;
  min-height: 100vh;
  background: url("../../assets//images/home_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact_navbar_btn {
  color: #00ffeb;
  background-color: #1769ff;
  border: none;
  border-radius: 3px;
  opacity: 1;
  padding-left: 20px;
}

.main-logo {
  font-size: 50px;
}

.nav_home {
  color: #00ffeb;
}

.nav_gray {
  color: #acb8c1;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.home_card {
  background-color: none;
  height: 300px;
  filter: brightness(100%) !important;
  width: 70%;
}
.home_card .home_title {
  color: #1769ff;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}
.home_card .home_text {
  color: white;
  width: 60%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.home_card .hire_btn {
  color: #00ffeb;
  font-family: "Poppins", sans-serif;
  background-color: #1769ff;
  border: none;
  height: 7vh;
  width: 150px;
}
.home_card .get_hired_btn {
  color: white;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ffffff;
  height: 7vh;
  width: 150px;
}

.our_numbers {
  background: #1b27af;
  width: auto;
  height: auto;
  margin: 4rem;
}

.our_numbers_title {
  color: #00ffeb;
  padding-top: 4.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.our_numbers_text {
  color: white;
  font-family: "Poppins", sans-serif;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.select-div .select-component {
  height: 7vh;
  background: none;
  border: 1px solid white;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.numbers_statistics {
  margin-top: 4rem;
}

.numbers_stats {
  margin: 3rem;
  font-family: "Poppins", sans-serif;
}
.numbers_stats .numbers {
  color: #00ffeb;
  font-weight: 200;
  font-size: 40px;
}
.numbers_stats .numbers_title {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.numbers_stats .numbers_text {
  color: #d7d7e2;
  width: 90%;
  margin: auto;
  font-size: 15px;
}