@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../sass/variables.scss";
* {
  box-sizing: border-box;
}

.homepage {
  max-width: 100%;
  min-height: 100vh;
}
.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets//images/home_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(50%);
}
.contact_navbar_btn {
  color: $cyan_color;
  background-color: $main_blue;
  border: none;
  border-radius: 3px;
  opacity: 1;
  padding-left: 20px;
}
.main-logo {
  font-size: $font_size_50;
}
.nav_home {
  color: $cyan_color;
}
.nav_gray {
  color: $gray_color;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.home_card {
  .home_title {
    color: $main_blue;
    font-family: $poppins;
    font-size: 3em;
  }
  .home_text {
    color: white;
    width: 60%;
    margin: auto;
    font-family: $poppins;
  }
  .hire_btn {
    color: $cyan_color;
    font-family: $poppins;
    background-color: $main_blue;
    border: none;
    height: 7vh;
    width: 150px;
  }
  .get_hired_btn {
    color: white;
    font-family: $poppins;
    border: 1px solid #ffffff;
    height: 7vh;
    width: 150px;
    &:hover {
      background-color: $main_blue;
      transition: 0.2s ease-in-out;
    }
  }
  background-color: none;
  height: 300px;
  filter: brightness(100%) !important;
  width: 70%;
}
.our_numbers {
  background: $blue_background;
  width: auto;
  height: auto;
  margin: $margin_4;
}
.our_numbers_title {
  color: $cyan_color;
  padding-top: 4.5rem;
  font-weight: bold;
  font-family: $poppins;
}
.our_numbers_text {
  color: white;
  font-family: $poppins;
  width: 50%;
  margin: auto;
  margin-top: $margin_2;
}
.select-div {
  .select-component {
    height: 7vh;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: $poppins;
    border-radius: 6px;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $margin_4;
}

.numbers_statistics {
  margin-top: $margin_4;
}
.numbers_stats {
  margin: $margin_3;
  font-family: $poppins;
  padding-bottom: $margin_6;
  .numbers {
    color: $cyan_color;
    font-weight: 200;
    font-size: 40px;
  }
  .numbers_title {
    color: white;
    font-size: 13px;
    font-weight: bold;
  }
  .numbers_text {
    color: #d7d7e2;
    width: 90%;
    margin: auto;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: $main_blue;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: $main_blue;
}
.about_us {
  .row_about_us {
    padding-top: $margin_6;
  }
  .twitter_icon {
    color: $main_blue;
    font-size: 1px;
    height: 28px;
    width: 28px;
  }
  .carousel_about_name {
    font-weight: bold;
    font-size: 16px;
  }
  .carousel_about_email {
    font-weight: bold;
    color: $main_blue;
    font-size: 16px;
  }
  .youtube_image {
    width: 500px;
    height: 300px;
  }
  font-family: $poppins;
  background: $light_gray;
  padding: $margin_6;
}
.location {
  width: 100%;
}
.footer {
  height: 300px;
  background-color: $blue_background;
}

//footer

.footer {
  padding: $margin_6;
  padding-right: $margin_6;
  .row {
    max-width: 80%;
  }
}
.footer_title {
  color: white;
  font-weight: bold;
  font-family: $poppins;
  font-size: 16px;
}
.footer_location,
.footer_street_nbr,
.footer_contacts_email,
.footer_contacts_phone_nbr {
  color: #ececec;
  font-family: $poppins;
  font-size: 12px;
  font-weight: normal;
}

.social_icon {
  color: white;
  background-color: $main_blue;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 5px;
}
//contact-form

.contact_form_title {
  color: $main_blue;
  font-family: $poppins;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}
.form_input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: none;
  padding: 0%;
  font-size: 14px;
}
.footer_form {
  position: absolute;
  background-color: white;
  width: 25%;
  height: auto;
  margin-top: -400px;
  right: 0;
  margin-right: $margin_4;
  margin-bottom: $margin_2;

  .form-group {
    padding: 5%;
    margin: 0%;
  }
}
.form_btn {
  float: right;
  background-color: $main_blue;
  padding: 10px;
  border: none;
  color: white;
  margin: $margin_2;
  margin-bottom: $margin_4;
}

//companies

.companies {
  .row {
    .col {
      img {
        width: 200px;
        height: 170px;
      }
    }
  }
  background-color: $light_gray;
  padding: $margin_6;
}

//partners

.partners {
  .row {
    overflow-x: auto;
  }

  padding: $margin_4;
}

.partners_name {
  color: $cyan_color;
  font-size: 18px;
  font-family: $poppins;
  font-weight: bold;
}
.partners_company {
  color: #707070;
  font-size: 14px;
  font-family: $poppins;
  text-align: left;
  font-weight: normal;
}
.partners_text {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}
.next_btn {
  height: 5vh;
  background-color: $main_blue;
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 6px;
  position: absolute;
  right: 0;
  margin-right: $margin_4;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}
.next_icon {
  height: 24px;
  width: 24px;
  font-weight: bold;
}
.read_more_btn {
  color: black;
  font-weight: bold;
  font-family: $poppins;
}
