@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../sass/variables.scss";
* {
  box-sizing: border-box;
  font-family: $poppins;
}
html,
body {
  height: 100%;
  max-width: 100%;
}
.slider {
  max-width: 1100px;
  display: none;
  .col {
    flex: 1;
    margin: 0 10px;
    background: #fff;
    .card {
      height: 200px;
      width: 100%;
    }
  }
}
.home_video {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.homepage {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.contact_navbar_btn {
  color: $cyan_color;
  background-color: $main_blue;
  border: none;
  border-radius: 3px;
  opacity: 1;
  padding-left: 20px;
}
.main-logo {
  height: 2.5vh;
}
.navbar-toggler {
  color: white !important;
  background: none;
  border: none;
}
.nav_home {
  color: $cyan_color !important;
}
.navbar {
  background: white;
}
.nav_gray {
  color: $gray_color;
}
.navbar-toggler {
  color: red;
  font-weight: bold;
  font-size: x-large;
}

.nav-item {
  :hover {
    color: $cyan_color;
  }
}
.home_card {
  .home_title {
    color: $main_blue;
    font-family: $poppins;
    font-size: 3em;
  }
  .home_text {
    color: white;
    width: 60%;
    margin: auto;
    font-family: $poppins;
  }
  .hire_btn {
    color: $cyan_color;
    font-family: $poppins;
    background-color: $main_blue;
    border: none;
    height: 7vh;
    width: 150px;
    font-weight: bold;
  }
  .get_hired_btn {
    color: white;
    font-family: $poppins;
    border: 1px solid #ffffff;
    height: 7vh;
    width: 150px;
    font-weight: bold;
    &:hover {
      background-color: $cyan_color;
      color: black;
      transition: 0.2s ease-in-out;
    }
  }
  background-color: none;
  height: 300px;
  filter: brightness(100%) !important;
  width: 75%;
  text-align: center;
}
.our_numbers {
  background: $blue_background;
  width: auto;
  height: auto;
  margin: $margin_4;
}
.our_numbers_title {
  color: $cyan_color;
  padding-top: 4.5rem;
  font-weight: bold;
  font-family: $poppins;
}
.our_numbers_text {
  color: white;
  font-family: $poppins;
  width: 50%;
  margin: auto;
  margin-top: $margin_2;
}
.select-div {
  .select-component {
    height: 7vh;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: $poppins;
    border-radius: 6px;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $margin_4;
}

.numbers_statistics {
  margin-top: $margin_4;
}
.numbers_stats {
  margin: $margin_3;
  font-family: $poppins;
  padding-bottom: $margin_6;
  .numbers {
    color: $cyan_color;
    font-weight: 200;
    font-size: 40px;
  }
  .numbers_title {
    color: white;
    font-size: 13px;
    font-weight: bold;
  }
  .numbers_text {
    color: #d7d7e2;
    width: 90%;
    margin: auto;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: $main_blue;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: $main_blue;
}
.about_us {
  .row_about_us {
    padding-top: $margin_6;
  }
  .about_us_title {
    color: $main_blue;
    font-size: 24px;
    text-align: left;
    margin-left: $margin_5;
    font-weight: bold;
    font-family: $poppins;
  }

  .twitter_icon {
    color: $main_blue;
    font-size: 1px;
    height: 28px;
    width: 28px;
  }
  .carousel_about_name {
    font-weight: bold;
    font-size: 16px;
  }
  .carousel_about_email {
    font-weight: bold;
    color: $main_blue;
    font-size: 16px;
  }
  .youtube_video {
    width: 100%;
    height: 300px;
  }
  font-family: $poppins;
  background: $light_gray;
  padding: $margin_6;
}
.location {
  width: 100%;
}
.footer {
  height: 300px;
  background-color: $blue_background;
}

//footer

.footer {
  padding: $margin_6;
  padding-right: $margin_6;
  height: auto;
  .row {
    max-width: 80%;
  }
}
.footer_title {
  color: white;
  font-weight: bold;
  font-family: $poppins;
  font-size: 16px;
}
.footer_location,
.footer_street_nbr,
.footer_contacts_email,
.footer_contacts_phone_nbr {
  color: #ececec;
  font-family: $poppins;
  font-size: 12px;
  font-weight: normal;
}

.social_icon {
  color: white;
  background-color: $main_blue;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 5px;
  margin: 0%;
  align-self: flex-start;
}
//contact-form

.contact_form_title {
  color: $main_blue;
  font-family: $poppins;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}
.form_input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: none;
  padding: 0%;
  font-size: 14px;
}
.footer_form {
  position: absolute;
  background-color: white;
  width: 25%;
  height: auto;
  margin-top: -400px;
  right: 0;
  margin-right: $margin_4;
  margin-bottom: $margin_2;

  .form-group {
    padding: 5%;
    margin: 0%;
  }
}
.form_btn {
  float: right;
  background-color: $main_blue;
  padding: 10px;
  border: none;
  color: white;
  margin: $margin_2;
  margin-bottom: $margin_4;
}

//companies

.companies {
  .row {
    .col {
      img {
        width: 200px;
        height: 170px;
      }
    }
  }
  background-color: $light_gray;
  padding: $margin_6;
}

//partners

.partners {
  .row {
    width: 1670px;
    overflow: hidden;
  }
  overflow: hidden;
  padding: $margin_4;
}
.col {
  padding-right: -10px;
  padding-left: -10px;
}
.partners_name {
  color: $cyan_color;
  font-size: 18px;
  font-family: $poppins;
  font-weight: bold;
}
.partners_company {
  color: #707070;
  font-size: 14px;
  font-family: $poppins;
  text-align: left;
  font-weight: normal;
}
.partners_text {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  font-family: $poppins;
}
.next_btn {
  height: 5vh;
  background-color: $main_blue;
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 6px;
  position: absolute;
  right: 0;
  margin-right: $margin_4;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}
.next_icon {
  height: 24px;
  width: 24px;
  font-weight: bold;
}
.read_more_btn {
  color: black;
  font-weight: bold;
  font-family: $poppins;
}

.carousel-item {
  padding-left: 15%;
  padding-right: 15%;
}

//upper image slider

.images_slider {
  .flickity-prev-next-button {
    display: none;
  }
}

//about page

.about_container {
  width: 60%;
  margin: auto;

  font-weight: normal;
  line-height: 2em;
  font-size: 14px;
  padding-bottom: 10%;
}
.home_btns {
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: center;
}
.about_title {
  color: $blue_background;
  font-size: 34px;
  padding: 5%;
  text-align: left;
  font-weight: bold;
}
.about_txt {
  font-size: 24px;
  font-weight: normal;
  font-weight: bold;
  text-align: left;
}
.know_more {
  margin-left: auto;
  margin-right: auto;
}
.know_more_btn {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $blue_background;
  color: white;
  border: none;
  padding: 10px;
  margin: 5%;
  width: 25vh;
}

//why us

.why_us_title {
  color: $blue_background;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}
.why_us_container {
  margin: $margin_4;
}
.card-img-top {
  height: 40vh;
}
.why_us_txt {
  color: white;
  font-weight: normal;
  font-family: $poppins;
  text-align: left;
  padding: 15%;
  font-weight: normal;
  font-size: 13px;
}
.why_us_footer {
  .col-4 {
    :before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #707070;
      background: #acb8c1 0% 0% no-repeat padding-box;
      opacity: 0.62;
    }
    span {
      svg {
        margin: 15px;
        font-size: 30px;
        color: white !important;
      }
    }
  }
  .col-8 {
    background: #090c2d 0% 0% no-repeat padding-box;
    opacity: 0.64;
  }
  width: 100%;
  height: 10vh;
  margin-top: auto;
  margin-left: 0;
}
.why_us_cards {
  .col {
    .card1 {
      background: linear-gradient(to bottom, rgb(0 0 0 / 31%), #0000005c),
        url("../../assets/images/partners-img.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .card2 {
      background: linear-gradient(to bottom, rgb(0 0 0 / 31%), #0000005c),
        url("../../assets/images/partners-img.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .card3 {
      background: linear-gradient(to bottom, rgb(0 0 0 / 31%), #0000005c),
        url("../../assets/images/partners-img.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  margin-top: 5%;
}

//about data

.data {
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), #262d75),
    url("../../assets/images/home_img.png");
  background-size: 100%, 100%;
  height: 60vh;
  .row {
    margin: $margin_6;

    .col {
      width: 400px;
      height: 200px;
      border: 0.2px solid #f8f8f8;
      margin-top: 7.5%;
      margin-right: 7.5%;
      padding-top: 35px;
      .years_of_experince,
      .awards_nbr,
      .happy_customers {
        color: $cyan_color;
        text-align: center;
      }
      .experience_txt,
      .happy_customers_txt,
      .awards_txt {
        color: white;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

.carousel {
  z-index: 100;
  height: auto;
}

.carousel-cell {
  img {
    height: 60vh;
  }
  width: 40%;
  height: 500px;
  margin-right: 5%;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  border-radius: 0%;
  background: $main_blue;
}
.flickity-page-dots {
  display: none;
}
.flickity-prev-next-button .arrow {
  fill: $cyan_color;
}
