//colors

$cyan_color: #00ffeb;
$dark_gray: #acb8c1;
$main_blue: #1769ff;
$blue_background: #1b27af;
$gray_color: #acb8c1;

//font-sizes

$font_size_24: 24px;
$font_size_31: 31px;
$font_size_50: 50px;

//font styles

$poppins: "Poppins", sans-serif;
