//colors

$cyan_color: #00ffeb;
$dark_gray: #acb8c1;
$main_blue: #1769ff;
$blue_background: #1b27af;
$gray_color: #acb8c1;

//font-sizes

$font_size_24: 24px;
$font_size_31: 31px;
$font_size_50: 50px;

//font styles

$poppins: "Poppins", sans-serif;

//margins
$margin_1: 1rem;
$margin_2: 2rem;
$margin_3: 3rem;
$margin_4: 4rem;
$margin_5: 5rem;
$margin_6: 6rem;
